<nav class="navbar bg-body-tertiary">
  <div class="container-fluid 
  justify-content-sm-center justify-content-md-center justify-content-lg-between">
    <a class="navbar-brand">ABUALHIJA-GROUP</a>
    <form action="/search" method="post" class="d-flex" role="search">
      <input required name="searchText" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</nav>
