<footer class="mt-auto text-white-50">
  <p>Powered by Eng: <a href="/" class="footername" style="color: yellowgreen; text-decoration: none;">Tareq Abu Al-Hija</a> <span>Copyright <i class="bi bi-c-circle"></i> 2024</span></p>
</footer>